* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  margin-bottom: 12px;
  font-family: 'Myriad Pro';
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */
.header-logo {
  padding: 10px 0 16px 0;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.logo img {
  float: left;
  width: 68px;
}
.logo-text {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%)
}

.logo-text span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.phone-number {
  float: right;
  padding-left: 35px;
  background-image: url("../images/icon-phone.jpg");
  background-repeat: no-repeat;
  background-position:left center;
  font-size: 14px;
  font-style: italic;
  line-height: 3.5;
}

.phone-number span {
  color: rgb(76, 193, 252); 
  font-size: 18px;
  font-style: normal;
}

.menu-list {
  float: left;
}

.menu-item {
  display: inline-block;
  padding: 20px 20px;
  border-right: 1px solid rgb(233, 233, 233);
}

.menu-item a {
  color: rgba(142, 142, 142, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.menu-item:last-child {
  border: 0;
}

.social-list {
  float: right;
}

.social-item {
  display: inline-block;
  padding: 20px 0 20px 5px;
}

.active a{
  color: rgba(98, 198, 248, 1);
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*--main--*/
/*--breadcrumbs--*/
.breadcrumbs {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.breadcrumbs-item {
  display: inline-block;
  padding: 80px 0;
  font-family: 'Myriad Pro';
  font-size: 12px;
  text-transform: uppercase;
}

ul.breadcrumbs-list li+li:before {
  color: rgba(0, 0, 0, 1);
  content: "/\00a0";
}

/*container*/
.container {
  margin-top: 70px;
}

/*sidebar*/
.sidebar-left {
  float: left;
  width: 25%;
}

.sidebar-category h3{
  background-color: rgba(217, 228, 233, 1);
  padding: 20px 15px 20px 20px;
  text-transform: uppercase;
}

.sidebar-category h3 span {
  float: right;
}

.category-list {
  padding: 20px 20px;
  color: rgba(134, 142, 146, 1);
}

.category-item {
  line-height: 25px;
  font-size: 12px;
  list-style: disc;
  list-style-position: inside;
}

.category-item a {
  position: relative;
  left: -5px;
  top: 1px;
}

.sidebar-form {
  margin-top: 40px;
  padding: 20px;
  background-color: rgba(217, 228, 233, 1);
}

.sidebar-form h3 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.sidebar-form h3::after {
  content: '';
  display: block;
  padding-top: 20px;
  width: 25%;
  border-bottom: 2px solid rgba(98, 198, 248, 1);
}

.form-input input{
  background-color: rgba(255, 255, 255, 1);
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1) !important;
}
  
input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 1) !important;  
}
  
input::-moz-placeholder {  /* Firefox 19+ */
  color: rrgba(0, 0, 0, 1) !important;  
}
  
input:-ms-input-placeholder {  
  color: rgba(0, 0, 0, 1) !important;  
}

.form-button button{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(75, 188, 86, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: bold;
}

/*content-right*/
.content-right {
  float: right;
  width: 75%;
}

.service-item {
  float: left;
  width: calc(100%/3);
  padding: 0 0 20px 20px;
}

.service-inner {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(233, 233, 233, 1);
  font-family: Arial, Helvetica, sans-serif;
}
.service-item img {
  width: 100%;
}

.service-item h3 {
  padding: 20px 20px 10px;
  font-size: 16px;
  font-weight: bold;
}

.service-item p {
  padding: 0 20px 40px;
  line-height:1.5;
  font-size: 12px;
}

.icon-detail {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1px;
  background-color: rgba(98, 198, 248, 1);
}

/*footer*/
.page-footer {
  margin-top: 20px;
  background-color: rgba(98, 198, 248, 1);  
}

.footer-content {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.information-list {
  padding: 35px 0;
}

.information-item {
  float: left;
  width: calc(100%/3);
}

.information-item h3 {
  color: rgba(255, 255, 255, 1);
  font-family: 'Myriad Pro';
  font-size: 18px;
  font-weight: bold;
}

.information-item li {
  padding: 5px 0;
}

.sub-menu-list,
.sub-social-list {
  padding-top: 20px;
  color: rgba(255, 255, 255, 1);
}

.sub-menu-item a{
  position: relative;
  left: -10px;
  top: 1px;
  color: rgba(255, 255, 255, 1);
}

.sub-menu-item {
  list-style: disc;
  list-style-position: inside;
}

.sub-social-item a {
  color: rgba(255, 255, 255, 1);
}

.sub-social-item img {
  padding-right: 5px;
}

.footer-copyright {
  padding: 20px 10px;
}

.footer-copyright p {
  color: rgba(255, 255, 255, 1);
}

.footer-copyright a {
  color: rgba(134, 255, 191, 1);
}

.footer-copyright>p {
  float: left;
}

.footer-copyright p+p {
  float: right;
}
